langchain
langchain-community
langchain-openai
langchain-text-splitters
langchain-experimental
faiss-cpu
pypdf
python-dotenv
rank_bm25
sentence-transformers #if you have problem to install it try to use uv add sentence-transformers